<%- include("parts/header")%>

<%- include("parts/navbar")%>


<div class="container text-center">
    <h3>Add Product</h3>
        <form action="/admin/add" method="post">
            <input type="text" name="name" class="form-control" placeholder="Name">
            <% let nameError = validationErrors.find(err=>err.param === 'name') %>
            <% if (nameError){ %>
                <p class="alert alert-danger"><%= nameError.msg  %></p>
            <% } %>
            <input type="number" name="price" class="form-control" placeholder="Price">
            <% let priceError = validationErrors.find(err=>err.param === 'price') %>
            <% if (priceError){ %>
                <p class="alert alert-danger"><%= priceError.msg  %></p>
            <% } %>
            <input type="text" name="description" class="form-control" placeholder="Description">
            <% let descError = validationErrors.find(err=>err.param === 'description') %>
            <% if (descError){ %>
                <p class="alert alert-danger"><%= descError.msg  %></p>
            <% } %>
            <select name="category" id="form-control">
                <option value="all">All </option>
                <option value="animal">Animals</option>
                <option value="phones">Phones</option>
                <option value="computers">Computer</option>
            </select>
            <% let categoryError = validationErrors.find(err=>err.param === 'category') %>
            <% if (categoryError){ %>
                <p class="alert alert-danger"><%= categoryError.msg  %></p>
            <% } %>
            <input type="file" name="image" class="form-control" >
            <% let imageError = validationErrors.find(err=>err.param === 'image') %>
            <% if (imageError){ %>
                <p class="alert alert-danger"><%= imageError.msg  %></p>
                <% } %>
            <input type="submit" class="btn btn-primary" value="Submit">
    
        </form>
</div>
<%- include("parts/footer")%>
