<%- include("parts/header")%>

<%- include("parts/navbar")%>


<div class="container "> 
    <form action="/"method='get'>
        <select name="category" id="form-control">
            <option value="all">All </option>
            <option value="animal">Animals</option>
            <option value="phones">Phones</option>
            <option value="computers">Computer</option>
        </select>
        <input type="submit" class="btn btn-primary" value="Filter">
    </form>



    <div class = "row">
        <% for (let product of products) {   %>
        <div class="col col-12 col-md-6 col-lg-4 col-xl-3"> 
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="<%= product.image %>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/product/<%= product._id%>">    <%= product.name%></a>                
                        <p class="card-text bold">Price: <%= product.price  %>$</p>
                    </h5>
                    
                    <p class="card-text">Description:  <%= product.description  %></p>
                <form action="/cart" method="post">
                    <input type="number"name = "amount" class="form-control">
                    <input type="submit"value= "Add to Cart" class="btn btn-primary">
                </form>
                </div>
              </div>
        </div>
        <%}%>    
    </div>


</div>

<%- include("parts/footer")%>


